{% extends 'base.html' %}

{% block head %}
<title> CALENDAR AUDIT </title>
{% endblock %}

{% block body %}
<h1 style="text-align: center;"><a href="/">CALENDAR AUDIT </a></h1>
<table>
    <tr><td><a href="/metrics">Google Calendar Metrics</a></td>
    <td>Submit an API request and see user's Google Calendar Metrics. 
        Go through the authorization flow if there are no stored 
        credentials for the user.
    </td></tr>
    </tr><br>
    <tr><td><a href="/authorize">Authorization</a></td>
    <td>Go directly to the authorization flow. If there are stored 
        credentials, you still might not be prompted to reauthorize 
        the application.
    </td></tr>
    </tr><br>
    <tr><td><a href="/revoke">Revoke current credentials</a></td>
    <td>Revoke the access token associated with the current user 
        session. After revoking credentials, if you go to the Metrics 
        page, you should see an <code>invalid_grant</code> error.
    </td></tr>
    </tr><br>
    <tr><td><a href="/clear">Clear Flask session credentials</a></td>
    <td>Clear the access token currently stored in the user session. 
        After clearing the token, if you run<a href="/metrics"> the 
        Google Calendar Metrics</a> API request again, you should go back to the auth flow.
    </td></tr></table>
{% endblock %}